
.nugget {
  position: absolute;
  margin-left: calc(97% - 100px);
  margin-top: 137px;
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.contactList{
  text-align: center;
}

#slider {
  overflow: hidden;
}

#sliderTall {
  overflow: hidden;
}

#slider .slides {
  display: block;
  width: 10000px;
  margin: 0;
  padding: 0;
}

#slider .slide {
  float: left;
  list-style-type: none;
}

#sliderTall .slideTall {
  float: left;;
  list-style-type: none;
}


#sliderTall .slidesTall {
  display: block;
  width: 10000px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 360px) {
  .nugget {
    margin-top: 190px;
    margin-left: calc(97% - 75px);
    height: 75px;
    width: 75px;
  }
}

@media screen and (min-width: 800px) {

  header {
    height: 120px;
  }

  .nugget {
    margin-top: 10px;
  }

#hamburger {
    display: none;
  }

  nav {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75) 54%, transparent);
    padding-top: 0;
    margin-top: 120px;
  }

  .contact {
    padding-left: 5px;
  }

  .contactList {
    padding-left: 3%;
  }

  #break {
    display: none;
  }

  .menu {
    margin: 0;
    max-width: 100%;
    display: block;
  }

  .menu li {
    display: inline;
    width: 10%;
    padding-right: 4%;
    border: none;
    background-color: transparent;
  }

  .menu li:last-child {
    padding-right: 0;
  }

  .home-content {
    display: block;
  }

  .home-contentTall {
    display: none;
  }

}

@media screen and (min-width: 1050px) {

  .contactList {
    padding-left: 70%;
  }
}
