
.nugget {
  position: absolute;
  margin-left: calc(96% - 100px);
  margin-top: 135px;
  width: 100px;
  height: auto;
  border-radius: 50%;
}

#slider {
  overflow: hidden;
}

#sliderTall {
  overflow: hidden;
}

#slider .slides {
  display: block;
  width: 10000px;
  margin: 0;
  padding: 0;
}

#slider .slide {
  float: left;
  list-style-type: none;
}

#sliderTall .slideTall {
  float: left;;
  list-style-type: none;
}


#sliderTall .slidesTall {
  display: block;
  width: 10000px;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 800px) {

  html {
    background-color: #9cb8e5;
  }

  header {
    height: 120px;
  }

  .nugget {
    margin-left: calc(97% - 100px);
    margin-top: 10px;
  }

  #hamburger {
    display: none;
  }

  body {
    background-color: #9cb8e5;
  }

  nav {
    margin-top: 120px;
    padding-top: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75) 65%, transparent);
  }

  .menu {
    margin: 0;
    max-width: 100%;
    display: block;
  }

  .menu li {
    display: inline;
    width: 10%;
    padding-right: 4%;
    border: none;
    background-color: transparent;
  }

  .menu li:last-child {
    padding-right: 0;
  }

  .home-content {
    display: block;
  }

  .home-contentTall {
    display: none;
  }


}
