

.menu {
  display: none;
}

.menu li {
  border-bottom: 2px solid white;
  border-radius: 5px;
  width: 60%;
  font-family: 'Raleway', sans-serif;
  padding-right: 12px;
  background-color: rgba(255, 255, 255, 0.45);
}

a:link {
  text-decoration: none;
  color: DimGrey;
}

a:hover {
  text-decoration: none;
  color: #63688e;
}

a:active {
  text-decoration: none;
}

a:visited {
  color: DimGrey;
  text-decoration: none;
}

.about-content {
  padding-top: 100px;
}

.home-content {
  display: none;
}
