

.menu {
  display: none;
}

.menu li {
  border-bottom: 2px solid white;
  border-radius: 5px;
  width: 60%;
  font-family: 'Raleway', sans-serif;
  padding-right: 12px;
  background-color: rgba(255, 255, 255, 0.75);
}

a:link {
  text-decoration: none;
  color: DimGrey;
}

a:hover {
  text-decoration: none;
  color: #63688e;
}

a:active {
  text-decoration: none;
}

a:visited {
  color: DimGrey;
  text-decoration: none;
}

.about-content {
  padding-top: 280px;
  font-family: 'Sorts Mill Goudy', serif;
}

.about-content p {
  font-size: 2em;
  padding: 2%;
}

.details {
  font-size: 1.5em;
  padding-left: 10%;
  list-style: square;
}

.details:last-child {
  padding-bottom: 20px;
}

.project-content {
  /*position: absolute;*/
  padding-top: 280px;
  font-family: 'Sorts Mill Goudy', serif;
}

.project-content p {
  font-size: 2.5em;
}

#project {
  font-size: 1.5em;
  margin-left: 5%;
  list-style: none;
}

.repoName{
  font-size: 2em;
  padding-top: 10px;
}

.home-content {
  display: none;
}
