

.menu {
  display: none;
}

.menu li {
  border-bottom: 2px solid white;
  border-radius: 5px;
  width: 60%;
  font-family: 'Raleway', sans-serif;
  padding-right: 12px;
  background-color: rgba(255, 255, 255, 0.45);
}

a:link {
  text-decoration: none;
  color: DimGrey;
}

a:hover {
  text-decoration: none;
  color: #63688e;
}

a:active {
  text-decoration: none;
}

a:visited {
  color: DimGrey;
  text-decoration: none;
}

.about-content {
  padding-top: 280px;
}

.about-content p {
  font-size: 2em;
  padding: 2%;
}

.details {
  font-size: 1.5em;
  padding-left: 10%;
  list-style: square;
}

.project-content {
  position: absolute;
  margin-top: 300px;
}

.project-content p {
  font-size: 2.5em;
}

.repoName{
  font-size: 2em;
}

.repoDescrip {
  font-size: 1.5em;
}

.repoLanguage {
  font-size: 1.5em;
}

.repoCreated {
  font-size: 1.5em;
}

.home-content {
  display: none;
}
