* {
  border: 2px dotted gray;
}

main {
  background-image: url("http://via.placeholder.com/1920x1080");
  background-size: contain;
  background-repeat: no-repeat;
  height: 1080px;
}

h1 {
  padding-left: 2%;
  font-size: 7em;
  font-family: 'Raleway', sans-serif;

}

nav {
  padding-left: 2%;
  font-size: 3.2em;
}

.menu li {
  border-bottom: 2px solid white;
  width: 25%;
  font-family: 'Raleway', sans-serif;
  display: none;
}

a:link {
  text-decoration: none;
  color: DimGrey;
}

a:hover {

}

a:visited {
  color: DimGrey;
}

@media screen and (min-width: 800px) {

  i {
    display: none;
  }

  .menu {
    max-width: 100%;
  }

  .menu li {
    display: inline;
    width: 10%;
    padding-right: 4%;
    border: none;

  }

}



footer {
  text-align: center;
  font-size: 2em;
}
