* {
  border: 2px dotted gray;
}

main {
  position: relative;
}

h1 {
  padding-left: 2%;
  font-size: 5.5em;
  font-family: 'Raleway', sans-serif;

}

nav {
  padding-left: 2%;
  max-width: 100%;
  font-size: 3.2em;
  position: absolute;
  background: linear-gradient(to bottom, white, 0.5)
  /*background-color: rgba(255, 255, 255, 0.5);*/
}


#slider {
  overflow: hidden;
}

#slider .slides {
  display: block;
  width: 10000px;
  margin: 0;
  padding: 0;
}

#slider .slide {
  float: left;
  list-style-type: none;
  /*width: 1920px;*/
}

img {
  /*width: 100%;*/
}

.menu li {
  border-bottom: 2px solid white;
  width: 25%;
  font-family: 'Raleway', sans-serif;
  display: none;
}

a:link {
  text-decoration: none;
  color: DimGrey;
}

a:hover {

}

a:visited {
  color: DimGrey;
}

@media screen and (min-width: 800px) {

#hamburger {
    display: none;
  }

  .menu {
    max-width: 100%;
  }

  .menu li {
    display: inline;
    width: 10%;
    padding-right: 4%;
    border: none;

  }

}



footer {
  text-align: center;
  font-size: 2em;
}
